<app-navbarconnected></app-navbarconnected>

<div class="content blog-grid">
    <div class="container">
    <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4 blog-sidebar theiaStickySidebar">
    <div class="card">
    <h4>Search</h4>
    <form class>
    <div class="blog-search">
    <input type="text" class="form-control" id="search" placeholder="Enter Keyword">
    <i class="feather-search"></i>
    </div>
    </form>
    </div>
    <div class="card">
    <h4>Latest Posts</h4>
    <ul class="latest-posts">
    <li>
    <div class="post-thumb">
    <a href="blog-details.html">
    <img class="img-fluid" src="assets/img/blog/latestpost-01.jpg" alt="Post">
    </a>
    </div>
    <div class="post-info">
    <p>Sarah</p>
    <h6>
    <a href="blog-details.html">These 15 Cabin Wedding Venues Have All the Rustic Vibes</a>
    </h6>
    </div>
    </li>
    <li>
    <div class="post-thumb">
    <a href="blog-details.html">
    <img class="img-fluid" src="assets/img/blog/latestpost-02.jpg" alt="Post">
    </a>
    </div>
    <div class="post-info">
    <p>Kim Forrest</p>
    <h6>
    <a href="blog-details.html">23 Super-Chic Blazer Dresses for Your Home Game</a>
    </h6>
    </div>
    </li>
    <li>
    <div class="post-thumb">
    <a href="blog-details.html">
    <img class="img-fluid" src="assets/img/blog/latestpost-03.jpg" alt="Post">
    </a>
    </div>
    <div class="post-info">
    <p>Jessica Estrada</p>
    <h6>
    <a href="blog-details.html">The Prettiest Floral Bats for a Rage Look</a>
    </h6>
    </div>
    </li>
    <li>
    <div class="post-thumb">
    <a href="blog-details.html">
    <img class="img-fluid" src="assets/img/blog/latestpost-04.jpg" alt="Post">
    </a>
    </div>
    <div class="post-info">
    <p>Naoimh</p>
    <h6>
    <a href="blog-details.html">31 Beautiful Courts Around the World</a>
    </h6>
    </div>
    </li>
    </ul>
    </div>
    <div class="card">
    <h4>Categories</h4>
    <ul class="categories">
    <li><h6><a href="javascript:void(0);"> Rules in Game <span>(100)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> Badminton <span>(10)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> Bats <span>(20)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> New Game <span>(45)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> Event <span>(25)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> Rackets <span>(15)</span></a></h6></li>
    <li><h6><a href="javascript:void(0);"> New Courts <span>(121)</span></a></h6></li>
    </ul>
    </div>
    <div class="card tags-card">
    <h4>Tags</h4>
    <ul class="tags clearfix">
    <li><a href="#" class="tag">Rackets</a></li>
    <li><a href="#" class="tag">New Game</a></li>
    <li><a href="#" class="tag">Dresses</a></li>
    </ul>
    </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
    
    <div class="featured-venues-item">
    <div class="listing-item">
    <div class="listing-img">
    <a href="blog-details.html">
    <img src="assets/img/blog/blog-01.jpg" class="img-fluid" alt="Venue">
    </a>
    <div class="fav-item-venues news-sports">
    <span class="tag tag-blue">Badminton</span>
    <div class="list-reviews coche-star">
    <a href="javascript:void(0)" class="fav-icon">
    <i class="feather-heart"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="listing-content news-content">
    <div class="listing-venue-owner">
    <div class="navigation">
    <a href="javascript:void(0)"><img src="assets/img/profiles/avatar-01.jpg" alt="User">Orlando Waters</a>
    <span><i class="feather-calendar"></i>15 May 2023</span>
    </div>
    </div>
    <h3 class="listing-title">
    <a href="blog-details.html">Mastering the Badminton Basics: A Guide for Beginners </a>
    </h3>
    <p>Master the fundamentals of badminton with our beginner's guide, unlocking the path to skillful play and enjoyment on the court.</p>
    <div class="listing-button read-new">
    <ul class="nav">
    <li><a href="javascript:void(0);"><i class="feather-heart"></i>45</a></li>
    <li><a href="javascript:void(0);"><i class="feather-message-square"></i>40</a></li>
    </ul>
    <span><img src="assets/img/icons/clock.svg" alt>10 Min To Read</span>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="featured-venues-item">
    <div class="listing-item">
    <div class="listing-img">
    <a href="blog-details.html">
    <img src="assets/img/blog/blog-02.jpg" class="img-fluid" alt="Venue">
    </a>
    <div class="fav-item-venues news-sports">
    <span class="tag tag-blue">Sports Activites</span>
    <div class="list-reviews coche-star">
    <a href="javascript:void(0)" class="fav-icon">
    <i class="feather-heart"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="listing-content news-content">
    <div class="listing-venue-owner">
    <div class="navigation">
    <a href="javascript:void(0)"><img src="assets/img/profiles/avatar-06.jpg" alt="User">Claire Nichols</a>
    <span><i class="feather-calendar"></i>16 Jun 2023</span>
    </div>
    </div>
    <h3 class="listing-title">
    <a href="blog-details.html">Unleashing Your Badminton Potential: Tips for Skill Development</a>
    </h3>
    <p>Unlock your badminton potential and elevate your skills with our expert tips for effective skill development on the court.</p>
    <div class="listing-button read-new">
    <ul class="nav">
    <li><a href="javascript:void(0);"><i class="feather-heart"></i>32</a></li>
    <li><a href="javascript:void(0);"><i class="feather-message-square"></i>21</a></li>
    </ul>
    <span><img src="assets/img/icons/clock.svg" alt="Icon">5 Min To Read</span>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="featured-venues-item">
    <div class="listing-item">
    <div class="listing-img">
    <a href="blog-details.html">
    <img src="assets/img/blog/blog-03.jpg" class="img-fluid" alt="Venue">
    </a>
    <div class="fav-item-venues news-sports">
    <span class="tag tag-blue">Rules of Game</span>
    <div class="list-reviews coche-star">
    <a href="javascript:void(0)" class="fav-icon">
    <i class="feather-heart"></i>
    </a>
    </div>
    </div>
    </div>
    <div class="listing-content news-content">
    <div class="listing-venue-owner">
    <div class="navigation">
    <a href="javascript:void(0)"><img src="assets/img/profiles/user-04.jpg" alt="User">Joanna Le</a>
    <span><i class="feather-calendar"></i>17 May 2023</span>
    </div>
    </div>
    <h3 class="listing-title">
    <a href="blog-details.html">The Art of Footwork: Enhancing Agility in Badminton</a>
    </h3>
    <p>Master the art of footwork and elevate your agility in badminton with our proven techniques and training methods.</p>
    <div class="listing-button read-new">
    <ul class="nav">
    <li><a href="javascript:void(0);"><i class="feather-heart"></i>55</a></li>
    <li><a href="javascript:void(0);"><i class="feather-message-square"></i>32</a></li>
    </ul>
    <span><img src="assets/img/icons/clock.svg" alt="Icon">4 Min To Read</span>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="blog-pagination">
    <nav>
    <ul class="pagination justify-content-center pagination-center">
    <li class="page-item previtem">
    <a class="page-link" href="javascript:void(0);"><i class="feather-chevrons-left"></i></a>
    </li>
    <li class="page-item previtem">
    <a class="page-link" href="javascript:void(0);"><i class="feather-chevron-left"></i></a>
    </li>
    <li class="page-item">
    <a class="page-link active" href="javascript:void(0);">1</a>
    </li>
    <li class="page-item active">
    <a class="page-link" href="javascript:void(0);">2</a>
    </li>
    <li class="page-item">
    <a class="page-link" href="javascript:void(0);">3</a>
    </li>
    <li class="page-item nextlink">
    <a class="page-link" href="javascript:void(0);"> <i class="feather-chevron-right"></i></a>
    </li>
    <li class="page-item nextlink">
    <a class="page-link" href="javascript:void(0);"> <i class="feather-chevrons-right"></i></a>
    </li>
    </ul>
    </nav>
    </div>
    
    </div>
    </div>
    </div>
    </div>

    <app-footer></app-footer>